body {
	font-family: Montserrat, sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
	height: 100%;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
}

header {
	background-size: 100% auto;
	background-image: url(../img/header.svg);
	background-repeat: no-repeat;
	background-size: cover;
    margin-left: auto;
    margin-right: auto;
	background-repeat: no-repeat;
    background-position: center center;
}

  
  nav ul {
	text-align: right;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
	display: inline-block;
  }
  
  .sections {
	padding: 20px;
	color: rgb(0, 0, 0);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
	font-size: 25px;
	text-decoration: none;
	display: block;
  }
  
  .sections:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.1);
	color: rgba(163, 68, 68, 0.7);
	text-decoration: none;
  }

.menu-head{
	display: inline-flex;
	flex-direction: row;
	width: 100%;
}

.menu-list {
    margin-right: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: auto;
    display: flex;
    margin-left: auto;
    align-items: center;
}


  .feedback {
	display: block; 
	width: 300px; 
	margin: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

h2 {
	background-color: rgba(255, 230, 0, 0.5);
	text-align: center;
}

form {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 25px;
	padding: 10px;
	width: 100%;
	height: auto;
}

/*поля ввода*/
input {
	width: 100%;
	height: 30px;
	border-radius: 5px;
}
textarea {
	width: 100%;
	height: 130px;
	border-radius: 5px;
}
.IP {
	font-size: 16px;
	font-style: italic;
	background-color: #f8f8f8;
}


input[type="submit"] {
    margin-bottom: 5px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
	color: #14640b;
	background-color: rgba(255, 230, 0, 0.5);
    
} 

input[type="submit"]:active,
input[type="reset"]:active {
  top:8px;
  background: rgba(223, 201, 2, 0.5);
  border-bottom-width: 0px;
  box-shadow: 0 -4px 6px rgba(0,0,0,0.15) inset;
  
}


.big_display_none{
	display: none;
}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (max-width: 1200px) 
{
	.container{
		width: 960px;
	}
	.margin_auto_small{
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		margin-bottom: auto;
		
	}
	.text_header {
		font-size: 2.5em;
	}
	.text_logo{
		font-size: 1.8em;
	}

	.flex_display {
		display: flex;
		flex-direction: column;
	}
	.small_display_false {
		display: none;
	}
	.big_display_none {
		display: block;
	}
	.menu-burger__header {
        position: relative; /* задаем относительное позиционирование */
        width: 40px; /* определяем размеры блока */
        height: 35px;
        display: block;
		margin-right: 20px;
		margin-left: auto;
    }
	.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
		height: 3px;
		width: 100%;
		position: absolute;
		background: #515758;
		margin: 0 auto;
	}
	.menu-burger__header span{
		top: 16px;
	}
	.menu-burger__header:after, .menu-burger__header:before{
		content: '';
	}
	.menu-burger__header:after{
		bottom: 5px;
	}
	.menu-burger__header:before{
		top: 5px;
	}
	nav {
		align-items: center;
	}
	.menu-head {
		display: flex;
	}

	.menu-burger__header.open-menu span {
		opacity:0; 
		transition: 0.5s; 
	}
	.menu-burger__header.open-menu:before {
		transform: rotate(38deg);
		top: 16px;
		transition: 0.4s;
	}
	.menu-burger__header.open-menu:after {
		transform: rotate(-38deg);
		bottom: 16px;
		transition: 0.4s;
	}
	.header__nav {
		display: block;
		position: absolute;
		top: 90px;
		background: rgb(245, 246, 246);
		box-shadow: #ccc;
		width: 100%;
		box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
		left: -100%;
		transition: all 0.4s ease;
	}
	.header__menu {
		display: flex;
		flex-direction: column;
		padding: 0px;
	}
	.header__menu li {
		margin: 10px 0px 10px 13px;
		font-size: 14px;
		margin-left: auto;
		margin-right: auto;
	}
	.header__nav.open-menu {
		left: 0;
	}
	.menu__item {
		font-size: 2.5em;
		color: black;
	}
}

/* Large devices (desktops, 992px and up)*/ 
@media screen and (max-width: 992px) 
{

	.blocks{
		display: block;
	}
	.block{
		margin: 40px auto;
	}
	
	.text_header {
		font-size: 1.8em;
	}
	.text_logo{
		font-size: 1em;
	}
}

/* Medium devices (tablets, 768px and up)*/ 
@media screen and (max-width: 768px) 
{
	.text_header {
		font-size: 2.5em;
	}
	.text_logo{
		font-size: 1.8em;
	}
}

/*Small devices (landscape phones, 414px and up)*/ 
@media screen and (max-width: 414px) 
{
	.header__nav {
		top: 90px;
	}
	.text_header {
		width: 411px;	
		font-size: 1.8em;
	}
	.text_logo{
		width: 411px;
		font-size: 1em;
	}

	.button_header {
		margin:auto;
		width: 200px;
		height: 50px;
		color: black;
		font-size: 14px;
		font-weight: bold;
		display: block;
		text-decoration: none;
		background-color:rgba(255, 230, 0, 0.5);
		padding: 12.5px 0px;
		text-align: center;
		margin-top: 20px;
	}
}

/*Small devices (landscape phones, 411px and up)*/ 
@media screen and (max-width: 411px) 
{
	.header__nav {
		top: 90px;
	}
	.text_header {
		width: 375px;	
		font-size: 1.8em;	
	}
	.text_logo{
		width: 375px;
		font-size: 1em;
	}
	
	.button_header {
		margin:auto;
		width: 200px;
		height: 50px;
		color: black;
		font-size: 14px;
		font-weight: bold;
		display: block;
		text-decoration: none;
		background-color:rgba(255, 230, 0, 0.5);
		padding: 12.5px 0px;
		text-align: center;
		margin-top: 20px;
	}
}

/*Small devices (landscape phones, 375px and up)*/ 
@media screen and (max-width: 375px) 
{
	.header__nav {
		top: 90px;
	}
	.text_header {
		width: 360px;	
	}
	.text_logo{
		width: 360px;
	}
}

/*Small devices (landscape phones, 360px and up)*/ 
@media screen and (max-width: 360px) 
{
	.header__nav {
		top: 90px;
	}
	.text_header {
		width: 320px;
		font-size: 1.5em;	
	}
	.text_logo{
		width: 320px;
		font-size: 0.9em;
	}

	.feedback {
		width: 80vw;
	}

	.button_header {
		margin:auto;
		width: 200px;
		height: 50px;
		color: black;
		font-size: 14px;
		font-weight: bold;
		display: block;
		text-decoration: none;
		background-color:rgba(255, 230, 0, 0.5);
		padding: 12.5px 0px;
		text-align: center;
		margin-top: 20px;
	}
}

/*Small devices (landscape phones, 320px and up)*/ 
@media screen and (max-width: 320px) 
{
	.header__nav {
		top:90px;
	}
	.text_header {
		width: 280px;	
		font-size: 1.5em;
	}
	.text_logo{
		width: 280px;
		font-size: 1em;
	}
}

/*Small devices (landscape phones, 280px and up)*/ 
@media screen and (max-width: 280px) 
{
	.header__nav {
		top: 90px;
	}
	.text_header {
		width: 280px;	
		font-size: 1.5em;
	}
	.text_logo{
		width: 280px;
		font-size: 1em;
	}

	.block {
		width: 280px;
	}
}
